*.jpeg
*.zip
/packages
/Presentation/Nop.Web/obj/*
/Presentation/Nop.Web/bin/*
/Presentation/Nop.Web/Administration/obj/*
/Plugins/Nop.Plugin.Api/obj/*
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/*
/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/*
/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/*
/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/*
/Plugins/Nop.Plugin.Shipping.USPS/obj/*
/Plugins/Nop.Plugin.Shipping.UPS/obj/*
/Plugins/Nop.Plugin.Shipping.FixedOrByWeight/obj/*
/Plugins/Nop.Plugin.Shipping.Fedex/obj/*
/Plugins/Nop.Plugin.Shipping.CanadaPost/obj/*
/Plugins/Nop.Plugin.Shipping.AustraliaPost/obj/*
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/*
/Plugins/Nop.Plugin.Payments.PurchaseOrder/obj/*
/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/*
/Plugins/Nop.Plugin.Payments.PayPalDirect/obj/*
/Plugins/Nop.Plugin.Payments.Manual/obj/*
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/*
/Plugins/Nop.Plugin.Feed.GoogleShopping/obj/*
/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/*
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/*
/Plugins/Nop.Plugin.DiscountRules.HasOneProduct/obj/*
/Libraries/Nop.Core/bin
/Libraries/Nop.Core/obj
/Libraries/Nop.Data/obj
/Libraries/Nop.Data/bin
/Libraries/Nop.Services/obj
/Libraries/Nop.Services/bin
/Presentation/Nop.Web/obj
/Presentation/Nop.Web/Administration/obj
/Presentation/Nop.Web.Framework/obj
/Presentation/Nop.Web.Framework/bin
/Tests/Nop.Core.Tests/bin
/Tests/Nop.Core.Tests/obj
/Tests/Nop.Services.Tests/obj
/Tests/Nop.Services.Tests/bin
/Tests/Nop.Web.MVC.Tests/obj
/Tests/Nop.Tests/obj
/Tests/Nop.Data.Tests/obj
/Plugins/Nop.Plugin.Widgets.SliderAndPosition/bin
/Plugins/Nop.Plugin.Widgets.SliderAndPosition/obj
