@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Thêm Slider";
}

@model Nop.Plugin.Widgets.SliderAndPosition.Models.SliderAndPositionModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i><a id="btnbackpos" href="~/Plugins/SliderAndPosition/Configure">Quay về</a></small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @Html.Partial("~/Plugins/Nop.Plugin.Widgets.SliderAndPosition/Views/_CreateOrUpdate.cshtml", Model)
        </div>
        <div class="form-horizontal">
            <p>Vui lòng lưu Slider trước khi thêm banner</p>
        </div>
    </div>
}